@font-face {
font-family: "Raleway Medium"; 
src: url("../fonts/Raleway.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {
font-family: "Raleway Extra Bold"; 
src: url("../fonts/Raleway Extra Bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {
font-family: "Raleway Semi Bold"; 
src: url("../fonts/Raleway Semi Bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {
font-family: "Avenir-Black";
src: url("../fonts/Avenir-Black.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face {
	font-family: "Avenir-Medium";
	src:url(../fonts/Avenir-Medium.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Avenir-Heavy";
	src:url(../fonts/Avenir-Heavy.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

* {
	margin: 0;
	padding-top: 0;
}

body {
	font-family: "Raleway Medium";
	color: #4a4a4a;
	background-color: #1966EB;
	background-image: url("../img/fon.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
/*	z-index: -10;*/

}

div {
	box-sizing: border-box;
}



header {
	font-family: "Avenir-Black";
	font-size: 16px;
	color: #ffffff;
	background-color: #0562ca;
	min-height: 64px;
}

header .container {
	width: 88%;
	margin: 0 auto;
}

.header__logo {
	margin-top: 16px;
}

.header__contact-info {
	float: right;
}

.header__contact-info p {
	float: right;
	line-height: 64px;
}

.header__contact-info img {
	margin: 18px 10px;
}

.card {
	width: 935px;
	height: 446px;
	border-radius: 9px;
	border: 1px solid #979797;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	margin: 132px auto;
	background-color: white;
	display: flex;
	justify-content: space-between;
/*	z-index: -9;*/
}

.card__article {
	height: 420px;
	width: 310px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 8px 1px rgba(204, 204, 204, 0.59);
	margin: 13px;
	margin-right: 0px;
	float: left;
	z-index: 3;
}

.article__head {
	padding: 10px;
	min-height: 110px;
}

.article__head__preinfo {
	color: #aaaaaa;
	font-family: "Avenir-Medium";
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 0.18px;
	opacity: 0.8;
}

.article__head__preinfo p {
	display: inline-flex;
	align-items: center;
}


.article__head__preinfo img {
	margin-left: 2px;
	margin-right: 4px;
	height: 11px;
	width: 12px;
}

.article__head__offer {
	display: flex;

}

.discount {
	height: 18px;
	width: 71px;
	background-color: #023b7d;
	text-align: center;
	margin-left: 6px;
}

.discount p {
	font-size: 12px;
	color: #ffffff;
	font-family: "Avenir-Black";
	text-transform: uppercase;
	letter-spacing: 0.58px;
}

.old-price {
	color: #9e9e9e;
	font-family: "Avenir-Heavy";
	letter-spacing: 0.4px;
	text-decoration: line-through;
	font-size: 17px;
}
.article__head__offer {
	display: flex;
	align-items: flex-start;
	margin-top: 9px;
	justify-content: space-between;
}

.article__head__offer-title {
	color: #404040;
	font-family: "Avenir-Black";
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

}
.article__head__offer-title span{
	letter-spacing: 0.22px;
}

.for_discount {
	display: flex;
}

.article__head__price {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.article__head__price_title {
	color: #404040;
	font-family: "Avenir-Black";
	font-size: 25px;
	letter-spacing: 0.41px;
}

.article__head__price_price {
	color: #404040;
	font-family: "Avenir-Black";
	font-size: 38px;
	letter-spacing: 0.39px;
}

.article__image {
	height: 300px;
	width: 310px;
	background-origin: border-box;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 59px;
	width: 485px;
	text-align: center;
	height: 212px;
	align-items: center;
	z-index: 3;
	margin-right: 72px;
}

.main-content__title h1 {
	font-family: "Raleway Extra Bold";
	color: #4a4a4a;
	font-size: 32px;
	line-height: 35px;
}

.main-content__title h2{
	font-family: Raleway;
	font-size: 24px;
}

.main-content__form {
	height: 110px;
	width: 393px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.main-content__form input {
}

.email-input {
	border: 2px solid #4a4a4a;
	background-color: rgba(248, 231, 28, 0);
	color: #9b9b9b;
	font-family: "Raleway Extra Bold";
	font-size: 20px;
	height: 50px;
	border-radius: 4px;
	text-align: center;
	background: url("../img/icons/Email_icon.png") no-repeat;
	background-position: 19% 50%;
}

.email-input:focus {
	background: none;
}

.button {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	border: 1px solid #f5a623;
	background-color: #ee940b;
	text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
	color: #ffffff;
	font-family: "Raleway Extra Bold";
	font-size: 23px;
	text-transform: uppercase;
	height: 50px;
	border-radius: 4px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
}

.button:hover {
	background-color: #faac39;
}

.button p {
	display: inline-block;
}

.button__for_icon {
	float: right;
	width: 50px;
	height: 48px;
	background-color: #faab33;
}

.button__for_icon img {
	margin: 15px auto;
}

.card__footer {
	width: 935px;
	height: 136px;
	z-index: 3;
	position: absolute;
	z-index: 2;
	display: block;
	margin-top: 310px;
}

.card__footer__head {
	background-color: #ededed;
	height: 64px;
}

.footer_container {
	width: 611px;
	float: right;
	height: 64px;
}

.footer__head_emblems {
	width: 398px;
	height: inherit;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 auto;
}

.head__item:nth-child(2) {
	margin-top: 7px;
}

.head__item:nth-child(3) {
	margin-top: 5px;
}

.footer__info {
	text-align: center;
	width: 229px;
	margin: 19px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.footer__info p {
	white-space: nowrap;
	font-family: "Raleway Medium";
	font-size: 15px;
	line-height: 25px;
	color: #4a4a4a;
}


